.search-form {
  .input-field {
    color: #5c5c5c;
    width: 85%;
    height: 50px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
    border: 0;
    font-size: 20px;
    font-weight: 300;
    padding-left: 17px;
    float: left;
  }
  .btn-search {
    display: block;
    float: right;
    background-color: #ac53f2; //usar mixin
    color: #fff;
    width: 15%;
    height: 100%;
    border: 0;
    border-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 25px;
    svg {
      margin-top: 12px;
    }
  }
}
