.search-result {
  padding-top: 30px;
  #user-infos {
    padding-top: 53px;
  }
  .not-found {
    font-family: 'Raleway Regular';
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ac53f2;
  }
}
